<mat-list>
  <ng-container *ngFor="let item of menu">
    <ng-container *ngIf="item.subMenu === undefined">
      <mat-list-item
        *ngIf="item.title"
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon [style.color]="item.color" mat-list-icon>
          {{ item.icon }}
        </mat-icon>
        <div mat-line>{{ item.title }}</div>
      </mat-list-item>
    </ng-container>


    <!-- <ng-container *ngIf="item.subMenu?.length > 0"> -->
      <ng-container *ngIf="item.subMenu && item.subMenu.length > 0">
      <!-- <ng-container *ngIf="item.subMenu?.length > 0; let subMenu"></ng-container> -->
      <mat-expansion-panel [expanded]="item.expanded">
        <mat-expansion-panel-header>
          <mat-panel-title class="d-flex align-items-center">
            <mat-icon [style.color]="item.color" mat-list-icon>
              {{ item.icon }}
            </mat-icon>
            <span mat-line class="list-item">{{ item.title }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-menu-item [menu]="item.subMenu"></app-menu-item>
      </mat-expansion-panel>
    </ng-container>
  </ng-container>
</mat-list>
